<h1><%= @song.name %></h1>

<h3>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></h3>
<h3>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></h3>

<p><%= link_to "Edit Song", edit_song_path %></p>
<p><%= link_to "All Songs", songs_path %></p>